* {
    box-sizing: border-box;
}

body {
    padding: 24px;
}

main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    outline: none;
    border-radius: 4px;
}

.error input {
    border-color: rgba(255, 99, 138, .75);
    box-shadow: 0 0 10px 2px rgba(255, 99, 138, .75)
}

.error-label {
    color: rgba(255, 99, 138, .75);
}
