<h1>Two Way</h1>

<p class="form-control first_name">
    <input type="text" placeholder="Enter your name">
    <span class="error-label"></span>
</p>

<p>
	<h2 style="display: inline-block"><%= first_name %></h2> loves Two Way
</p>
